body {
    margin: 0;
    font-family: Arial;
    background: #0f1117;
    color: white;
}

/* CONTAINER */
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

/* Pages */
.page {
    display: none;
}
.active {
    display: block;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 50px;
    background: #1C6EA4;
    border-radius: 10px;
}

.hero h2 {
    font-size: 32px;
}

.hero p {
    font-size: 18px;
    margin: 10px 0;
}

.shop-btn {
    background: #0abde3;
    color: black;
    font-size: 18px;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
}

/* PRODUCT GRID */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.product-card {
    background: #1e272e;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.product-card button {
    margin-top: 10px;
    padding: 8px 18px;
    border: none;
    background: #0abde3;
    color: black;
    font-weight: bold;
}

#cartBox{
    margin:20px 0; 
    padding:15px;
    background:#1e272e;
    border-radius:10px;
}

#cartItems {
    list-style: none;
    padding-left: 0;
}

#cartItems li {
    margin: 5px 0;
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
}

/* CONTACT FORM */
#contactForm input, 
#contactForm textarea {

        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid;
}

#contactForm textarea {
    height: 120px;
}

button {
    background: #0abde3;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
}

/* Messages */
.error { color: #ff6b6b; font-weight: bold; }
.success { color: #1dd1a1; font-weight: bold; }
