body {
    margin: 0;
    font-family: Arial;
    background: #0f1117;
    color: white;
}

/* HEADER */
header {
    background: #0a3d62;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 32px;
    letter-spacing: 1px;
}

nav {
    margin-top: 10px;
}

nav button {
    background: white;
    color: #0a3d62;
    border: none;
    padding: 10px 18px;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

/* CONTAINER */
.container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

/* Pages */
.page {
    display: none;
}
.active {
    display: block;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 50px;
    background: linear-gradient(135deg, #1e272e, #0a3d62);
    border-radius: 10px;
}

.hero h2 {
    font-size: 32px;
}

.hero p {
    font-size: 18px;
    margin: 10px 0;
}

.shop-btn {
    background: #0abde3;
    color: black;
    font-size: 18px;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

/* PRODUCT GRID */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.product-card {
    background: #1e272e;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card button {
    margin-top: 10px;
    padding: 8px 18px;
    border: none;
    background: #0abde3;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

/* SEARCH BAR */
#search {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: none;
}

/* CONTACT FORM */
#contactForm input, 
#contactForm textarea {
    /* width: 95%;
    padding: 12px;
    margin: 10px 0;
    background: #1e272e;
    /* border: 1px solid #0abde3;
    border-radius: 8px;
    color: white; */
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border-radius: 5px;
        border: 1px solid;
}

#contactForm textarea {
    height: 120px;
}

button {
    background: #0abde3;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
}

/* Messages */
.error { color: #ff6b6b; font-weight: bold; }
.success { color: #1dd1a1; font-weight: bold; }
